.header {
	background-color: transparent;
	text-align: center;
	height: fit-content;
	max-width: 1920px;
	width: 100%;
	justify-content: space-between;
	box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);

	.logo {
		span {
			cursor: pointer;
			scale: 0.95;
		}
	}

	.menu_list {
		display: flex;
		justify-content: center;
		align-items: center;

		.link {
			margin: 0 30px;
		}

		a {
			font-weight: 500;
			line-height: 1.2;
			font-size: 20px;
			color: #262626;
			text-decoration: none;
			&:hover {
				color: #f66e1a;
			}
		}

		.active {
			color: #f66e1a;
		}

		.dropdown {
			position: relative;

			&_menu {
				position: absolute;
				padding-top: 20px !important;
				top: 100%;
				left: 0;
				min-width: 220px;
				padding-left: 0px !important;
				transition: all 0.3s ease-in-out;
				z-index: 1;

				.dropdown_item {
					display: none;
					color: white;
					background-color: #34495e;
					padding: 10px 20px;
					font-size: 14px;
					font-weight: 400;
					text-transform: none !important;
					text-align: left;
					cursor: pointer;
					opacity: 1;

					&:hover {
						color: #f66e1a;
					}
				}

				.active {
					color: #f66e1a;
				}
			}

			&:hover .dropdown_menu li {
				display: block !important;
				animation: menu 0.3s ease-in-out;
			}

			@keyframes menu {
				0% {
					transform: translateY(60%);
					opacity: 0;
				}
				100% {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
	.menu_list_mobile {
		i {
			font-size: 30px;
			color: #262626;
			cursor: pointer;
		}
		.menu_list_mobile_dropdown {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.5);
			-moz-box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.5);

			.link {
				margin: 0 30px;
			}

			a {
				font-weight: 500;
				line-height: 1.9;
				font-size: 20px;
				color: #262626;
				text-decoration: none;
				&:hover {
					color: #f66e1a;
				}
			}

			.active {
				color: #f66e1a;
			}

			.dropdown {
				position: relative;

				&_menu {
					position: absolute;
					// padding-top: 20px !important;
					top: 10%;
					right: 100%;
					padding-right: 30px;
					min-width: 245px;
					padding-left: 0px !important;
					transition: all 0.3s ease-in-out;
					z-index: 1;

					.dropdown_item {
						display: none;
						color: white;
						background-color: #34495e;
						padding: 10px 20px;
						font-size: 14px;
						font-weight: 400;
						text-transform: none !important;
						text-align: left;
						cursor: pointer;
						opacity: 1;

						&:hover {
							color: #f66e1a;
						}
					}

					.active {
						color: #f66e1a;
					}
				}

				&:hover .dropdown_menu li {
					display: block !important;
					animation: menu 0.3s ease-in-out;
				}

				@keyframes menu {
					0% {
						transform: translateY(60%);
						opacity: 0;
					}
					100% {
						transform: translateY(0);
						opacity: 1;
					}
				}
			}
		}
	}
}
.group_btn {
	display: flex;
	justify-content: center;
	align-items: center;

	button {
		padding: 10px 30px 13px;
		margin: 0 2px;
		border-radius: 30px;
		font-weight: 500;
		line-height: 1.2;
		font-size: 20px;
		color: #262626;
		text-decoration: none;
		border: none;
		background-color: white;

		&:hover {
			background-color: #262626;
			color: white;
		}
	}

	.active {
		background-color: #262626;
		color: white;
	}
}
.navbar2 {
	padding: 0;
	background-color: white;
	width: 100%;
}
.navbar1 {
	padding: 0;
	background-color: white;
	width: calc(100% - 16px);
}
@media screen and (max-width: 992px) {
	.navbar1 {
		width: 100%;
	}
}
