.about {
	position: relative;
	height: calc(100vh - 80px);
	overflow: hidden;

	&_image {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		background: linear-gradient(135deg, #743ee3 0%, #f66e1a 100%);

		span {
			border-radius: 50%;
			scale: 0.86;
		}
	}

	&_title {
		position: absolute;
	}

	&_decor {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -10%);

		width: 1000px;
		height: 1000px;
		border-radius: 50%;
		background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
		box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
		color: #fff;
		text-align: center;

		&_text {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translate(-50%, -50%);

			.text_title {
				font-size: 50px;
				font-weight: 700;
			}

			.text_slogan {
				font-size: 22px;
				font-weight: 600;
				text-align: center;
			}

			.text_content {
				font-size: 16px;
				font-weight: 400;
				text-align: left;
				list-style: none;
				padding: 0;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 3%;

			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 3%;

			width: 80px;
			height: 80px;
			border-radius: 50%;
			background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
		}
	}
}

@media all and (min-width: 577px) and (max-width: 992px) {
	.about {
		position: relative;
		height: fit-content;
		overflow: hidden;
		padding: 20px 0 0 0;

		&_image {
			position: relative;
			transform: translate(-50%, -20%);

			width: 50vw;
			height: 50vw;

			border-radius: 50%;
			background: linear-gradient(135deg, #743ee3 0%, #f66e1a 100%);
			span {
				border-radius: 50%;
				scale: 1.15;
				transform: translateY(-18%);
			}
		}

		&_title {
			position: relative;
			transform: translateY(-70px);
			text-align: center;
			z-index: 1000;
		}

		&_decor {
			position: relative;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -10%);
			width: 77vw;
			height: 400px;
			border-radius: 10px;
			background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);

			&_text {
				position: relative;
				top: 48%;
				left: 50%;
				transform: translate(-50%, -50%);

				.text_title {
					font-size: 38px;
					margin-bottom: 10px;
				}

				.text_slogan {
					font-size: 22px;
					margin-bottom: 10px;
					text-align: center;
				}

				.text_content {
					font-size: 16px;
					text-align: left;
					list-style: none;
					padding: 0;
				}
			}

			&::before {
				content: "";
				position: absolute;
				top: -25%;
				left: 3%;
				transform: translateY(-50%);

				width: 65px;
				height: 65px;
				border-radius: 50%;
				background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			}

			&::after {
				content: "";
				position: absolute;
				top: -25%;
				right: 3%;
				transform: translateY(-50%);

				width: 65px;
				height: 65px;
				border-radius: 50%;
				background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			}
		}
	}
}

@media all and (max-width: 576px) {
	.about {
		position: relative;
		height: fit-content;
		overflow: hidden;
		padding: 20px 0 0 0;

		&_image {
			position: relative;
			transform: translate(-50%, -40%);

			width: 65vw;
			height: 65vw;

			span {
				scale: 1.15;
				transform: translateY(-18%);
			}
		}

		&_title {
			position: relative;
			transform: translateY(-70px);
			text-align: center;
			z-index: 1000;
		}

		&_decor {
			position: relative;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -25%);
			width: 88vw;
			height: 75vw;
			border-radius: 10px;

			&_text {
				position: relative;
				top: 48%;
				left: 50%;
				transform: translate(-50%, -50%);

				.text_title {
					font-size: 18px;
					margin-bottom: 10px;
				}

				.text_slogan {
					font-size: 16px;
					margin-bottom: 10px;
				}

				.text_content {
					font-size: 14px;
					padding: 0;
				}
			}

			&::before {
				content: "";
				position: absolute;
				top: -25%;
				left: 3%;
				transform: translateY(-50%);

				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			}

			&::after {
				content: "";
				position: absolute;
				top: -25%;
				right: 3%;
				transform: translateY(-50%);

				width: 40px;
				height: 40px;
				border-radius: 50%;
				background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			}
		}
	}
}

@media all and (max-width: 365px) {
	.about {
		&_decor {
			width: 88vw;
			height: 86vw;
		}
	}
}

@media all and (max-width: 330px) {
	.about {
		&_decor {
			width: 90vw;
			height: 105vw;

			&_text {
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}
