html,
body {
	padding: 0;
	margin: 0;
	font-family: "Hanken Grotesk", sans-serif;
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

hr {
	height: 0.5px !important;
}

.box-section {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-type: y mandatory;
}

.section {
	padding-top: 80px;
	height: 100vh;
	scroll-snap-align: start;
	overflow: hidden;
}

.z-100 {
	z-index: 100;
}

.char {
	transform: translateY(45px);
	transition: 0.5s;
}

.error {
	font-size: 14px;
	font-weight: 500 !important;
	color: red !important;
	text-shadow: 1px -1px 1px #000000;
}

.title {
	font-size: 50px;
	line-height: 60px;
	font-weight: 700;
	color: #000;
}

.title-customer,
.title-business {
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-weight: 700;
	color: #f66e1a;
}

.fostech {
	position: absolute;
	top: -15px;
	left: 0;
	font-size: 35px;
	font-weight: 700;
	font-family: "Times New Roman", Times, serif;
}

.btn-plus {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 28px;
	height: 28px;
	font-size: 30px;
	color: #f66e1a;
	background-color: transparent;
	border-radius: 50%;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;

	&:hover {
		background-position: right center;
		background-size: 50% auto;
		animation: btnHover 1.5s infinite;
		-webkit-animation: btnHover 1.5s infinite;
	}
}

.btn-plus-box {
	position: absolute;
	top: 20px;
	right: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 28px !important;
	height: 28px !important;
	font-size: 30px;

	color: #f66e1a;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 50%;
	padding: 0;
	margin: 0;

	&:hover {
		background-position: right center;
		background-size: 50% auto;
		animation: btnHover 1.5s infinite;
	}
}

.logo-consultant {
	position: relative;
	top: 10px;
	left: 60px;
	max-width: 220px;

	visibility: hidden;
}

.logo-consultant-home {
	position: relative;
	top: 10px;
	left: 0;
	max-width: 220px;
}

.logo-consultant-2 {
	position: relative;
	top: 10px;
	left: -40px;
	max-width: 220px;
}

.logo-consultant-home,
.logo-consultant-2 {
	visibility: hidden;
}

.parent {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 80px auto 0 auto;
	background-color: transparent;
	z-index: 100;

	.center {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		// animation: turn ease 3s infinite;
		// animation-iteration-count: 2;
	}

	.rotate {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transform-origin: center;
		transform: rotate(calc(-45deg * var(--rotate)));

		&::before {
			content: "";
			position: absolute;
			top: 100%;
			left: 100%;
			width: 1px;
			height: 100px;
			background-color: #bbb;
			border-radius: 10px;
			transform: translate(-25px, -75%) rotate(135deg);
		}

		.child {
			display: flex;
			justify-content: center;
			align-items: center;

			position: absolute;
			top: 0;
			left: 0;
			transform: translate(-125%, -125%) rotate(calc(45deg * var(--rotate)));

			span {
				animation: autoScale ease calc(1s * var(--time)) infinite;
				// animation-iteration-count: 2;
			}

			&:hover {
				cursor: pointer;

				span {
					animation: none;
					transform: scale(1.12);
					transition: all 0.5s ease-in-out;
				}

				.tag-name h6 {
					transition: all 0.3s ease-in-out;
					color: #f66e1a;
				}
			}

			.tag-name {
				position: absolute;
				top: 100%;
				left: 0;

				h6 {
					font-weight: 900;
					font-size: 16px;
					line-height: 20px;
					margin-bottom: 0;
				}

				p {
					font-size: 13px;
					font-weight: 400;
					margin-bottom: 0;
				}
			}
		}
	}

	.c-0 {
		.tag-name {
			left: -15% !important;
		}
	}
	.c-6 {
		.tag-name {
			left: 10% !important;
		}
	}
	.c-7 {
		.tag-name {
			left: 60% !important;
		}
	}
}

@keyframes autoScale {
	0% {
		scale: 0.85;
		opacity: 0.8;
	}
	55% {
		scale: 0.85;
		opacity: 0.8;
	}
	75% {
		scale: 1.12;
		opacity: 1;
	}
	100% {
		scale: 0.85;
		opacity: 0.8;
	}
}

@keyframes turn {
	0% {
		rotate: 0deg;
	}
	50% {
		rotate: 360deg;
	}
	100% {
		rotate: 360deg;
	}
}

@keyframes btnHover {
	0% {
		-webkit-appearance: none !important;
		box-shadow: 0 0 0 0 #e86c20;
		-webkit-box-shadow: 0 0 0 0 #e86c20 !important;
	}

	70% {
		-webkit-appearance: none !important;
		box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
		-webkit-box-shadow: 0 0 0 10px rgb(218 103 68 / 0%) !important;
	}

	100% {
		-webkit-appearance: none !important;
		box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
		-webkit-box-shadow: 0 0 0 0 rgb(218 103 68 / 0%) !important;
	}
}

@media all and (min-width: 993px) and (max-width: 1280px) {
	.title {
		font-size: 35px;
		line-height: 40px;
	}

	.title-customer,
	.title-business {
		font-size: 20px;
		margin-bottom: 5px;
		margin-top: 20px;
	}

	.btn-plus-box,
	.btn-plus {
		width: 26px !important;
		height: 26px !important;
		font-size: 28px;
	}
}

@media all and (min-width: 768px) and (max-width: 992px) {
	.title {
		font-size: 30px;
		line-height: 35px;
	}

	.title-customer,
	.title-business {
		font-size: 18px;
		margin-bottom: 4px;
		margin-top: 18px;
	}
}

@media all and (min-width: 577px) and (max-width: 768px) {
	.title {
		font-size: 28px;
		line-height: 33px;
	}

	.title-customer,
	.title-business {
		font-size: 18px;
		margin-bottom: 4px;
		margin-top: 18px;
	}
}

@media all and (min-width: 577px) and (max-width: 992px) {
	.mt-home {
		margin-top: -60px;
	}

	.box-section {
		position: relative;
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;
		scroll-snap-type: y mandatory;
	}

	.section {
		padding-top: 80px;
		height: auto;
		scroll-snap-align: start;
		overflow: hidden;
	}
}

@media all and (max-width: 576px) {
	.mt-home {
		margin-top: -80px;
	}

	.title {
		font-size: 25px;
		line-height: 30px;
	}

	.title-customer {
		font-size: 16px;
		margin-bottom: 4px;
		margin-top: 18px;
	}

	.title-business {
		font-size: 16px;
		margin-bottom: 4px;
		margin-top: 18px;
		min-height: 38px;
	}

	.fostech {
		position: absolute;
		top: -60px;
		left: 0px;
		font-size: 30px;
		font-weight: 700;
		font-family: "Times New Roman", Times, serif;
	}

	.box-section {
		position: relative;
		height: auto;
		overflow-x: hidden;
		overflow-y: auto;
		scroll-snap-type: y mandatory;
	}

	.section {
		padding-top: 80px;
		height: auto;
		scroll-snap-align: start;
		overflow: hidden;
	}

	.btn-plus-box {
		position: absolute;
		top: 10px;
		right: 10px;

		width: 26px !important;
		height: 26px !important;
		font-size: 28px;
	}

	.btn-plus {
		width: 26px !important;
		height: 26px !important;
		font-size: 28px;
	}

	.parent {
		position: relative;
		width: 110px;
		height: 110px;
		margin: 70px auto 0 auto;

		.center {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 50%;
			// animation: turn ease 3s infinite;
			// animation-iteration-count: 2;
		}

		.rotate {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
			transform-origin: center;
			transform: rotate(calc(-45deg * var(--rotate)));

			&::before {
				content: "";
				position: absolute;
				top: 100%;
				left: 100%;
				width: 1px;
				height: 100px;
				background-color: #bbb;
				border-radius: 10px;
				transform: translate(-25px, -75%) rotate(135deg);
			}

			.child {
				display: flex;
				justify-content: center;
				align-items: center;

				position: absolute;
				top: 0;
				left: 0;
				transform: translate(-125%, -125%) rotate(calc(45deg * var(--rotate)));

				span {
					animation: autoScale ease calc(1s * var(--time)) infinite;
					// animation-iteration-count: 2;
				}

				&:hover {
					cursor: pointer;

					span {
						animation: none;
						transform: scale(1.12);
						transition: all 0.5s ease-in-out;
					}

					.tag-name h6 {
						transition: all 0.3s ease-in-out;
						color: #f66e1a;
					}
				}

				.tag-name {
					position: absolute;
					top: 100%;
					left: 0;

					h6 {
						font-weight: 900;
						font-size: 16px;
						line-height: 20px;
						margin-bottom: 0;
					}

					p {
						font-size: 13px;
						font-weight: 400;
						margin-bottom: 0;
					}
				}
			}
		}

		.c-0 {
			.tag-name {
				left: -15% !important;
			}
		}
		.c-6 {
			.tag-name {
				left: 10% !important;
			}
		}
		.c-7 {
			.tag-name {
				left: 60% !important;
			}
		}
	}
}

@media all and (max-width: 365px) {
	.parent {
		width: 95px;
		height: 95px;

		.rotate {
			.child {
				.tag-name {
					h6 {
						font-weight: 700;
						font-size: 14px;
						line-height: 18px;
						margin-bottom: 0;
					}

					p {
						font-size: 10px;
						font-weight: 400;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.btnGoToTop {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 3000;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #e86c20;
	cursor: pointer;
	opacity: 0.6;
	& svg {
		font-size: 30px;
		transition: all 0.25s linear;
	}

	&:hover {
		opacity: 1;
	}

	&:hover svg {
		opacity: 1;
		transform: scale(1.2);
	}
}

input[type="checkbox"] {
	-webkit-appearance: none;
	display: none;
	visibility: hidden;
}

.bar {
	position: relative;
	cursor: pointer;
	width: 44px;
	height: 27px;
	scale: 0.8;
}

.bar .mobile_dropdown {
	scale: 1.2;
	transform: translateY(10%);
}

.bar span {
	position: absolute;
	width: 35px;
	height: 4px;
	background: #262626;
	border-radius: 100px;
	display: inline-block;
	transition: 0.3s ease;
	left: 0;
}

.bar span.top {
	top: 0;
}

.bar span.middle {
	top: 11px;
}

.bar span.bottom {
	bottom: 0;
}

.bar div.mobile_dropdown {
	display: none;
	position: fixed;
	margin-top: 60px;
	right: 5%;
	background-color: white;
}

input[type]:checked ~ span.top {
	transform: rotate(45deg);
	transform-origin: top left;
	width: 35px;
	left: 3px;
}

input[type]:checked ~ span.bottom {
	transform: rotate(-45deg);
	transform-origin: top left;
	width: 35px;
	bottom: -1.6px;
}

input[type]:checked ~ span.middle {
	transform: translateX(-20px);
	opacity: 0;
}

input[type]:checked ~ div.mobile_dropdown {
	display: block;
}
