.custom {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 80px);

	&_crm {
		&_image {
			position: relative;
			z-index: 10;

			&:after {
				content: "";
				position: absolute;
				top: -120px;
				right: 10px;

				width: 80px;
				height: 80px;
				border-radius: 50%;
				background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
				z-index: 1;
			}
		}
	}

	&_content {
		font-size: 15px;
	}

	.circle {
		position: absolute;
		left: -100px;
		bottom: -100px;

		width: 500px;
		height: 500px;
		border: none;
		border-radius: 50%;
		z-index: 1;
		background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
	}
}

@media all and (min-width: 577px) and (max-width: 992px) {
	.custom {
		position: relative;
		overflow: hidden;
		height: fit-content;
		padding: 20px 0;

		&_crm {
			min-height: 480px;

			&_image {
				position: relative;
				z-index: 10;

				&:after {
					content: "";
					position: absolute;
					top: -120px;
					right: -40px;

					width: 80px;
					height: 80px;
					border-radius: 50%;
					background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
					z-index: 1;
				}
			}
		}

		&_content {
			font-size: 15px;
			text-align: justify;
		}

		.circle {
			position: absolute;
			left: -40px;
			bottom: -100px;

			width: 300px;
			height: 300px;
			border: none;
			border-radius: 50%;
			background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
		}
	}
}

@media all and (max-width: 576px) {
	.custom {
		position: relative;
		overflow: hidden;
		height: fit-content;
		padding: 20px 0;

		&_crm {
			min-height: 350px;

			&_image {
				position: relative;
				z-index: 10;

				&:after {
					display: none;
				}
			}
		}

		&_content {
			font-size: 15px;
			text-align: justify;
		}

		.circle {
			position: relative;
			left: -25px;
			bottom: 0;

			width: 150px;
			height: 150px;
			border: none;
			border-radius: 50%;
			z-index: 1;
			background: linear-gradient(135deg, #f66e1a 0%, #743ee3 100%);
			margin-bottom: 20px;
		}
	}
}

@media all and (max-width: 365px) {
	.custom {
		&_crm {
			min-height: 330px;
		}
	}
}
